<div class="publication">
<div class="container">
	<div class="text-center">
		<div class="wow bounceInDown" id="about" data-wow-offset="0"
			data-wow-delay="0.3s">
			<h2>About</h2>
		</div>
	</div>
	<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">
		<p>Welcome to the Structural Bioinformatics Group at Imperial
			College London. The group is led by Professor Michael J.E. Sternberg.
			The current objectives of the Structural Bioinformatics Group are:</p>
		<ul>
			<li>The development of computer algorithms:
				<ul>
					<li>to predict protein structure from sequence</li>
					<li>to suggest protein function from sequence or structure</li>
					<li>to predict the structure of a protein complex starting
						from the unbound components</li>
				</ul>
			</li>
			<li>The analysis of protein structure and function with the aim
				of deriving evolutionary insights</li>
			<li>The modelling and comparison of biology networks to provide
				insights into Systems Biology</li>
			<li>The modelling of the activity and toxicity of small
				molecules as an aid to the design of novel drugs.</li>
		</ul>
		<p>For full details of research please see the Research page. Much
			of our research is disseminated in the form of publicly available
			software, databases and web based servers which can be found on the
			Tools page.</p>
	</div>
	<h3>Related links (at Imperial College London)</h3>
	<ul>
		<li><a href="http://www.bioinformatics.ic.ac.uk" target="_blank">Centre
				for Bioinformatics (Director: Professor Michael Sternberg)</a></li>
		<li><a href="http://www.doc.ic.ac.uk/~shm/" target="_blank">Computational
				Bioinformatics Laboratory (Professor Stephen H. Muggleton)</a></li>
		<li><a href="http://www.imperial.ac.uk/theoreticalsystemsbiology"
			target="_blank">Theoretical Systems Biology Group (Professor
				Michael Stumpf)</a></li>
		<li><a href="http://www.imperial.ac.uk/cisbic" target="_blank">Centre
				for Integrative Systems Biology</a></li>
		<li><a
			href="http://www.imperial.ac.uk/systemsbiology/groups/syntheticbiology"
			target="_blank">Institute of Systems and Synthetic Biology</a></li>
	</ul>
</div>
</div>