
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
   
   <header>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
            <div class="navbar-brand">
              <a href="{{ "/" | prepend: site.baseurl }}"><h1>S<span>B</span>G</h1></a>
            </div>
          </div>

          <div class="navbar-collapse collapse">
            <div class="menu">
              <ul class="nav nav-tabs" role="tablist">
              	{%- for path in page_paths -%}
		            {%- assign my_page = site.pages | where: "path", path | first -%}
		            {%- if my_page.title -%}
		             <li role="presentation"><a href="{{ my_page.url | relative_url }}"
		            	class="{% if page.url == my_page.url %}active{% endif %}">
		            	{{ my_page.title | escape }}</a></li>
		            {%- endif -%}
		          {% endfor -%}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
