---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  
  <div class="slider">
    <div class="img-responsive">
      <ul class="bxslider">
        <li><img src="{{ "/assets/images/slider/1.jpg" | prepend: site.baseurl }}" alt="" /></li>
        <li><img src="{{ "/assets/images/slider/2.jpg" | prepend: site.baseurl }}" alt="" /></li>
      </ul>
    </div>
  </div>


	{%- include about.html -%}

	  {{ content }}
	  
	<div class="container">
    <div class="col-lg-6 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.5s">
      <img src="{{ "/assets/images/new_site.png" | prepend: site.baseurl }}" class="img-responsive">
    </div>
    <div class="col-lg-6 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.5s">
  
	  
	  {%- if site.posts.size > 0 -%}
	    <h2 class="post-list-heading">{{ page.list_title | default: "Blog Posts" }}</h2>
	    <ul class="post-list">
	      {%- for post in site.posts -%}
	      <li>
	        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
	        <h3>
	          <a class="post-link" href="{{ post.url | relative_url }}">
	            {{ post.title | escape }}
	          </a>
	        </h3>
	        <span class="post-meta">{{ post.date | date: date_format }}</span>
	       
	        {%- if site.show_excerpts -%}
	          {{ post.excerpt }}
	        {%- endif -%}
	      </li>
	      {%- endfor -%}
	    </ul>
	
	    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
	  {%- endif -%}
	    </div>
  </div>
  
  
  <div class="main-feature"> 
  
      <div class="text-center">
      <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
        <h2 class="funding">Funding and Support </h2>
      </div>
      <div class="wow bounceInUp" data-wow-offset="0" data-wow-delay="0.6s">
      </div>
    </div>
    
    
    
  <div class="container">
      <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
        <div class="media">
          <div class="media-body">
           <a href="http://www.bbsrc.ac.uk/" target="_blank"> <img title="BBSRC" src="{{ "/assets/images/funding/bbsrc.png" | prepend: site.baseurl }}" alt="BBSRC" /></a>
            <p>Some information about the BBSRC funding goes here...</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
        <div class="media">
          <div class="media-body">
    		 <img title="DTI" src="assets/images/funding/dti.png" alt="DTI" />
            <p>Some information about the DTI funding goes here...</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
        <div class="media">
          <div class="media-body">
            <a href="http://www.epsrc.ac.uk/" target="_blank"><img title="EPSRC" src="{{ "/assets/images/funding/epsrc.png" | prepend: site.baseurl }}" alt="EPSRC" /></a>
            <p>Some information about the EPSRC funding goes here....</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
        <div class="media">
          <div class="media-body">
            <a href="http://ec.europa.eu/grants/index_en.htm" target="_blank"><img title="European Commision" src="{{ "/assets/images/funding/euc.png" | prepend: site.baseurl }}" alt="European Commision" /></a>
            <p>Some information about the European Commision funding goes here...</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
        <div class="media">
          <div class="media-body">
            <a href="http://www.mrc.ac.uk/" target="_blank"><img title="MRC" src="{{ "/assets/images/funding/mrc.png" | prepend: site.baseurl }}" alt="MRC" /></a>
            <p>Some information about the Medical Research Council funding goes here...</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
        <div class="media">
          <div class="media-body">
            <a href="http://www.syngenta.co.uk/" target="_blank"><img title="Syngenta" src="{{ "/assets/images/funding/syngenta.png" | prepend: site.baseurl }}" alt="Syngenta" /></a>
            <p>Some information about the Syngenta funding goes here...</p>
          </div>
        </div>
      </div>
    </div>
     <div class="container">
      <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
        <div class="media">
          <div class="media-body">        
            <a href="http://www.wellcome.ac.uk/" target="_blank"><img title="wellcome trust" src="{{ "/assets/images/funding/wellcome.png" | prepend: site.baseurl }}" alt="wellcome trust" /></a>
            <p>Some information about the Wellcome Trust funding goes here....</p>
          </div>
        </div>
      </div>
    </div>
    
    
  </div>
  


</div>
